{% extends 'layout.html' %}

{% block body %}
<!-- banner -->
<section class="banner_w3lspvt" id="home">
	<div class="csslider infinity" id="slider1">
	
				<div class="banner-top">
					<div class="overlay">
						<div class="container">
                        <div id="booking" class="section">
                        <div class="section-center">
                        <div class="container">
                        <div class="row">
                        <div class="col-md-4">
                        <div class="booking-cta">
                            <h1>Sign In</h1>
                            <p style="color:#fff">Let You Create An Account With Us.</p>
                             <div class="container">
                                 <!-- {{ prediction_text }} -->
                                 {% if prediction_text == "0" %}
                                 <h2 style="color:#fff"> "Account Successfully Created" </h2>

                                 {% elif prediction_text == "1" %}
                                 <h2 style="color:#fff">" Incorrect Email Id Or Password "</h2>
                                 {% endif %}
                             </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-md-offset-1">
                        <div class="booking-form">
                         <form class="form" method="post" action="/login_validation">
                         <div class="row">
                            <div class="col-md-12">
                                 <div class="form-group">
                                     <span class="form-label">Email</span>
                                         <input type="email" class="form-control" name="email" placeholder="Enter Your Email" required="true">
                                     <span class="select-arrow"></span>
                                 </div>
                             </div>
                          </div>
                         
                            <div class="row">
                              <div class="col-md-12">
                                  <div class="form-group">
                                      <span class="form-label">Password</span>
                                          <input type="password" class="form-control" name="password" placeholder="Enter Your Password" required="true">
                                      <span class="select-arrow"></span>
                                  </div>
                              </div>
                          </div>    
                              <div class="form-btn">
                                  <button class="submit-btn">Sign In</button>
                              </div>
                       <p class="mt-2"> Not a member? <a href="/register">Create Account</a> </p>             
                            </form>
                            
                        </div>
                        <!Booking form>
                       
                    </div>

                </div>
            </div>
   </div>
   <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
   <!-- ==== GSAP CDN ==== -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>
   <!-- ==== SCRIPT.JS ==== -->
   <script src="{{url_for('static', filename='script.js' )}}" defer></script>


						</div>
					</div>
				</div>
	</div>
</section>
<!-- //banner -->

</html>

{% endblock %}

